<div class="container">
    <div class="logo-item item-1">

        <div class="logo-container">
            <div class="project-logo-center-container">
                <div class="logo-gradient"></div>
                <a href="#" routerLink="/" class="logo">projectTitle</a>
            </div>
        </div>

    </div>

    <div class="logo-item item-2">

        <div class="logo-container">
            <div class="project-logo-center-container">
                <div class="logo-gradient"></div>
                <a href="#" routerLink="/" class="logo">projectTitle</a>
            </div>
        </div>

    </div>

    <div class="project-item item-3">

        <div class="project-container">
            <div class="project-center-container">

                <a href="#" routerLink="/" class="logo"></a>
            </div>
        </div>

    </div>
    <div class="project-item item-4">

        <div class="project-container">
            <div class="project-center-container">

                <a href="#" routerLink="/" class="logo"></a>
            </div>
        </div>

    </div>
</div>
