.container {
    background-color: #35181a;
    height: 80vh;
    background: linear-gradient(
        rgba(35, 16, 17, 1) 0%, /* 53, 24, 26 */
        rgba(53, 24, 26) 25%, /* 53, 24, 26 */
        rgba(71, 32, 35) 50%,/* 71, 32, 35 */
        rgba(88, 40, 43) 75%, /* 71, 32, 35 */
        rgba(106, 48, 52) 100% /* 88, 40, 43 */
    );
    background-color: "primary";
}

.logo-container {
    display: flex;
    justify-content: center;
}

.logo-line {
    width: 150px;
    border-bottom: 3px solid black;
    box-shadow: 0px 2px 10px black;
}

.logo-center-container {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.logo-image {
    width: 250px;
    height: 250px;
    object-fit: contain; /* Adjust this property as per your image scaling preference */

    box-shadow: 0px 2px 10px black;
    border-radius: 50%;
}
