/* You can add global styles to this file, and also import other style files */
@import url("https://www.1001freefonts.com/raleway.font");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200&display=swap");
*{
    box-sizing: border-box;
}
body{
    font-family: "Cairo", Sans-serif;
    margin: 0;
    font-size: 18px;
    background-color: #35181a;

    red-one: #231011;   /* 35, 16, 17 */
    red-two: #35181a;   /* 53, 24, 26 */
    red-three: #472023; /* 71, 32, 35 */
    red-four: #58282b;  /* 88, 40, 43 */
    red-five: #6a3034;  /* 106, 48, 52 */
}

a,p,h1 {
    text-decoration: none;
    color: whitesmoke;
}
